<%
    Date.prototype.addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }
    var months = ['ENE','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SEP','OCT','NOV','DIC'];
    var startYear = selectedYear != null ? selectedYear : new Date().getFullYear();
    var startMonth = selectedMonth != null ? selectedMonth : new Date().getMonth();
    var paddedMonth = padFunction(startMonth + 1, 2);
    var calendarDate = new Date(`${startYear}-${paddedMonth}-01 00:00:00`);
%>
<% pages.forEach(function(page, pageIndex){ %>
<div id="page-<%= pageIndex %>" class="page">
    <div class="fb-row">
    <% page.forEach(function(photo, photoIndex){ %>
        <div id="photo-<%= pageIndex %>-<%= photoIndex %>" class="photo vertical paper">
            <%
                var actualMonth = calendarDate.getMonth();
                var startDay = calendarDate.getDay();
            %>
            <div class="image" style="background-image: url('photos/<%= photo %>');"></div>
            <div class="polly-calendar">
                <div class="month-indicator">
                    <p class="month calendar-month calendar-monthAndYear"><%= months[actualMonth] %></p>
                    <hr class="calendar-separator">
                    <p class="year calendar-year calendar-monthAndYear"><%= calendarDate.getFullYear() %></p>
                </div>
                <div class="calendar-grid">
                    <table>
                        <thead>
                            <tr>
                                <th class="calendar-day">D</th>
                                <th class="calendar-day">L</th>
                                <th class="calendar-day">M</th>
                                <th class="calendar-day">M</th>
                                <th class="calendar-day">J</th>
                                <th class="calendar-day">V</th>
                                <th class="calendar-day">S</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (startDay > 0) { %>
                            <tr>
                                <% for (let emptyDays = 0; emptyDays < startDay; emptyDays++) { %>
                                    <td></td>
                                <% } %>
                            <% } %>
                            <% while(calendarDate.getMonth() == actualMonth) { %>
                                <% if (calendarDate.getDay() == 0) { %>
                                <tr>
                                <% } %>
                                    <td class="calendar-date"><%= calendarDate.getDate() %></td>
                                <% if (calendarDate.getDay() == 6) { %>
                                </tr>
                            <% } %>
                                <% calendarDate = calendarDate.addDays(1); %>
                            <% } %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% }); %>
    </div>
</div>
<% }); %>