<% pages.forEach(function(page, pageIndex){ %>
<div id="page-<%= pageIndex %>" class="page">
    <div class="fb-row">
        <% page.forEach(function(photo, photoIndex){ %>
        <% if ((photoIndex + 1) % 5 != 0) { %>
        <div id="photo-<%= pageIndex %>-<%= photoIndex %>" class="photo vertical paper">
            <div class="image" style="background-image: url('photos/<%= photo %>');"></div>
            <div class="text-container">
                <span class="text"></span>
            </div>
        </div>
        <% } else { %>
        <div id="photo-<%= pageIndex %>-<%= photoIndex %>" class="photo horizontal paper invert-controls">
            <div class="image" style="background-image: url('photos/<%= photo %>');"></div>
            <div class="text-container">
                <span class="text"></span>
            </div>
        </div>
        <% } %>
        <% }); %>
        <div class="tag-container">
            <div class="print-tag">
                <div class="tag"></div>
            </div>
        </div>
    </div>
</div>
<% }); %>