<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imprimir Fotos</title>
    <link rel="stylesheet" href="css/fonts/fonts.css">
    <link rel="stylesheet" href="css/print/base/base.css">
    <link rel="stylesheet" href="css/print/strip_20x30.css">
</head>

<body>
    <% include ../templates/strip_template.html %>
</body>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/dom-to-image/dom-to-image.min.js"></script>
<script src="lib/JSZip/jszip.min.js"></script>
<script src="lib/FileSaver/FileSaver.min.js"></script>
<script src="js/base.js"></script>
<script src="js/printer.js"></script>

</html>