.fb-container * {
    box-sizing: initial;
}
.fb-container .page {
    height: calc(30cm * 0.5);
    width: calc(20cm * 0.5);
    border: 1px solid black;
    padding-left: calc(0.8cm * 0.5);
    background-color: white;
}
.fb-container .fb-row {
    padding-top: calc(0.2cm * 0.5);
}
.fb-container .photo {
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    height: calc(11.5cm * 0.5);
    width: calc(6.5cm * 0.5);
    padding-left: calc(0.5cm * 0.5);
    padding-right: calc(0.5cm * 0.5);
    padding-top: calc(0.5cm * 0.5);
}
.fb-container .fb-row .photo:nth-child(odd) {
    margin-right: calc(1.5cm * 0.5);
}
.fb-container .photo.horizontal {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    bottom: 1.25cm;
    left: 1.25cm;
}

.fb-container .image {
    height: calc(9cm * 0.5);
    width: calc(5.5cm * 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}