.fb-container * {
    box-sizing: initial;
}
.fb-container .page {
    height: calc(1134px * 0.5);
    width: calc(755px * 0.5);
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    margin: 10px;
    float: left;
}
.fb-container .fb-row {
    padding-left: calc(10px * 0.5);
    padding-top: calc(10px * 0.5);
}
.fb-container .photo {
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    height: calc(10.5cm * 0.5);
    width: calc(6cm * 0.5);
    padding-left: calc(0.5cm * 0.5);
    padding-right: calc(0.5cm * 0.5);
    padding-top: calc(0.5cm * 0.5);
    margin-right: calc(0.5cm * 0.5);
    margin-bottom: calc(0.5cm * 0.5);
}
.fb-container .photo.horizontal {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    bottom: calc(2.5cm * 0.5);
    left: calc(2.25cm * 0.5);
}

.fb-container .image {
    height: calc(8cm * 0.5);
    width: calc(5cm * 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* code */
.fb-container .photo .code-main {
    width: 100%;
    text-align: center;
    line-height: 11px;
}
.fb-container .photo .code-container {
    display: none;
    width: calc(54px * var(--print-multiplier));
    height: calc(54px * var(--print-multiplier));
    margin-top: calc(4px * var(--print-multiplier));
    position: relative;
    background-color: rgb(255,255,255);
}
.fb-container .photo .code-container .code {
    height: 85%;
    width: 85%;
    top: 7.5%;
    left: 6.5%;
    position: relative;
}