<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="stylesheet" href="lib/materialize/css/materialize.min.css">
    <link href="lib/roboto-font/roboto.css" rel="stylesheet">
    <link href="lib/material-icons/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/fontawesome/css/all.min.css">
    <link href="lib/pace/pace-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/themes/default.css">
</head>
<header>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="logo">
            <img src="img/logo.png">
        </li>
        <li><a href="index.html">Cargá tus fotos</a></li>
        <li class="bold active"><a href="#!">Elegí el formato</a></li>
        <li><a href="#!">Ajusta y Guardá</a></li>
    </ul>
    <div class="version-info">
        <p class="center-align">Polly v<%= version %></p>
        <div class="download-status hide">
            <p class="no-margin"><small>Descargando Actualización...</small><small class="progress-percentage right"
                    style="margin-top:2px">0%</small></p>
            <div class="progress grey lighten-4">
                <div class="determinate pink accent-3"></div>
            </div>
        </div>
        <div class="update-ready center-align <%= updateAvailable ? '' : 'hide' %>" style="margin-bottom:15px">
            <p class="no-margin">¡Actualización lista para instalarse!</p>
            <a class="waves-effect waves-light btn-small pink accent-3 waves-effect waves-light restart-button">Reiniciar</a>
        </div>
    </div>
    <ul id="tools-sidenav" class="sidenav sidenav-fixed">
        <li style="visibility: hidden;"><a href=""><i class="fas fa-cloud-upload-alt fa-lg"></i></a></li>
        <li class="bottom-option" onclick="openSendToLabModal()">
            <a class="tooltipped" data-position="left" data-tooltip="Pedidos al Laboratorio">
                <i class="fas fa-cloud-upload-alt fa-lg"></i>
                <span class="upload-badge hide"><small></small></span>
            </a>
        </li>
    </ul>
</header>
<main>
    <div class="row">
        <div class="col m10 offset-m1">
            <h4 class="title">Elegí el formato</h4>
            <br>
            <div class="row">
                <div class="col m3">
                    <a href="print?type=polaroid">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/polaroid.png">
                                <span class="card-title">Polaroid</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col m3">
                    <a href="print?type=instax">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/instax.png">
                                <span class="card-title">Instax</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col m3">
                    <a href="print?type=square">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/square.png">
                                <span class="card-title">Square</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col m3">
                    <a class="modal-trigger" href="#strips-selector">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/strip.png">
                                <span class="card-title">Strip</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col m3">
                    <a href="print?type=pennon">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/pennon.png">
                                <span class="card-title">Pennon</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col m3">
                    <a class="modal-trigger" href="#year-selector">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/calendar.png">
                                <span class="card-title">Calendar</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col m3">
                    <a href="print?type=mini-polaroid">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/mini-polaroid.png">
                                <span class="card-title">Mini Polaroid</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col m3">
                    <a href="print?type=wide">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" src="img/wide.png">
                                <span class="card-title">Wide</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Year Selector -->
<div id="year-selector" class="modal modal-fixed-footer" style="width: 40%; height:100%; max-height: 80%;">
    <div class="modal-content">
        <h5>Seleccioná el mes y año en el que comienza el calendario:</h5>
        <div class="row">
            <div class="input-field col s12">
                <% var startYear = (new Date()).getFullYear() - 50; %>
                <% var actualYear = (new Date()).getFullYear(); %>
                <% var finishYear=(new Date()).getFullYear() + 50; %>
                <% var months=['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septembre', 'Octubre', 'Noviembre', 'Diciembre']; %>
                <% var actualMonthIndex=(new Date()).getMonth(); %>
                
                <div class="input-field col s6">
                    <select class="year-select">
                    <% for (let year=startYear; year < finishYear; year++) { %>
                        <% if(year == actualYear) { %>
                            <option value="<%= year %>" selected><%= year %></option>
                        <% } else { %>
                            <option value="<%= year %>"><%= year %></option>
                        <% } %>
                    <% } %>
                    </select>
                    <label>Año</label>
                </div>

                <div class="input-field col s6">
                    <select class="month-select">
                    <% months.forEach((month, monthIndex) => { %>
                        <% if(monthIndex == actualMonthIndex) { %>
                            <option value="<%= monthIndex %>" selected><%= month %></option>
                        <% } else { %>
                            <option value="<%= monthIndex %>"><%= month %></option>
                        <% } %>
                    <% }); %>
                    </select>
                    <label>Mes</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a href="#!" class="waves-effect btn btn-primary send-mail-button" onclick="selectYearAndMonth()">Aceptar</a>
    </div>
</div>

<!-- Strips Selector -->
<div id="strips-selector" class="modal modal-fixed-footer" style="width: 40%; height:50%; max-height: 50%;">
    <div class="modal-content">
        <h5>Seleccioná las cantidades de paginas y strips</h5>
        <p>Las strips son un monton de fotos, en el caso que te pasen menos de las necesarias para llenar una pagina podes podes repetir la cantidad de fotos por pagina y generar mas copias a imprimir</p>
        <div class="row">
            <div class="col s12 m-t-10">
                <label>
                    <input type="checkbox" class="filled-in set-strips-amounts">
                    <span>Especificar cantidades</span>
                </label>
            </div>
            <div class="input-field col s6">
                <input id="strips-amount" type="number" class="strips-amount primary" disabled>
                <label for="strips-amount">Cantidad de strips por página</label>
            </div>
            <div class="input-field col s6">
                <input id="pages-amount" type="number" class="pages-amount primary" disabled>
                <label for="pages-amount">Cantidad de páginas</label>
            </div>
        </div>
        <p><b>Nota:</b> En el caso de que no quieras especificar las cantidades y que las planchas se armen solo con las fotos subidas sin repetir destildar la opcion "Especificar cantidades".</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a href="#!" class="waves-effect btn btn-primary send-mail-button" onclick="selectStripsAmount()">Aceptar</a>
    </div>
</div>



<script src="lib/jquery/jquery.min.js"></script>
<script src="/lib/mustache.js/mustache.min.js"></script>
<script src="lib/materialize/js/materialize.min.js"></script>
<script src="lib/pace/pace.min.js"></script>
<script src="js/base.js"></script>
<script src="js/versionChecker.js"></script>
<script>
$(document).ready(function () {
    $('#year-selector').modal();
    $('#year-selector select').formSelect();
});

function selectYearAndMonth() {
    var year = $('#year-selector .year-select').val();
    var month = $('#year-selector .month-select').val();
    window.location.href = `print?type=calendar&year=${year}&month=${month}`;
}
</script>
<script>
$(document).ready(function () {
    $('#strips-selector').modal();
    $('#strips-selector .set-strips-amounts').change(function() {
       $('#strips-selector .strips-amount').prop("disabled", !this.checked)
       $('#strips-selector .pages-amount').prop("disabled", !this.checked)
    });
});

function selectStripsAmount() {
    var setStripsAmounts = $('#strips-selector .set-strips-amounts')[0].checked;
    var pagesAmount = setStripsAmounts ? $('#strips-selector .strips-amount').val() : 0;
    var stripsAmount = setStripsAmounts ? $('#strips-selector .pages-amount').val() : 0;
    window.location.href = `print?type=strip&pagesAmount=${pagesAmount ? pagesAmount : 0}&stripsAmount=${stripsAmount ? stripsAmount: 0}`;
}
</script>

<% include components/send-to-lab-modal/send-to-lab-modal.html %>
<% include components/mail-modal/mail-modal.html %>

</html>