<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="stylesheet" href="lib/materialize/css/materialize.min.css">
    <link href="lib/roboto-font/roboto.css" rel="stylesheet">
    <link href="lib/material-icons/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/fontawesome/css/all.min.css">
    <link href="lib/pace/pace-theme.css" rel="stylesheet" />
    <link href="lib/jBox/jBox.all.min.css" rel="stylesheet" />
    <link href="lib/spectrum/spectrum.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="lib/spectrum/themes/sp-dark.css">
    <link rel="stylesheet" href="lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="lib/codemirror/theme/material-darker.css">
    <link rel="stylesheet" href="lib/contextual.js/contextual.css">
    <link rel="stylesheet" href="lib/contextual.js/contextual.theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/themes/default.css">
</head>
<header>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="logo">
            <img src="img/logo.png">
        </li>
        <li><a href="index.html">Cargá tus fotos</a></li>
        <li><a href="format_selection">Elegí el formato</a></li>
        <li class="bold active"><a href="#">Ajusta y Guardá</a></li>
    </ul>
    <div class="version-info">
        <p class="center-align">Polly v<%= version %></p>
        <div class="download-status hide">
            <p class="no-margin"><small>Descargando Actualización...</small><small class="progress-percentage right"
                    style="margin-top:2px">0%</small></p>
            <div class="progress grey lighten-4">
                <div class="determinate pink accent-3"></div>
            </div>
        </div>
        <div class="update-ready center-align <%= updateAvailable ? '' : 'hide' %>" style="margin-bottom:15px">
            <p class="no-margin">¡Actualización lista para instalarse!</p>
            <a class="waves-effect waves-light btn-small pink accent-3 waves-effect waves-light restart-button">Reiniciar</a>
        </div>
    </div>
    <ul id="tools-sidenav" class="sidenav sidenav-fixed">
        <li onclick="openGeneralBackgroundSelector()"><a class="tooltipped" data-position="left" data-tooltip="Fondo"><i class="fas fa-image fa-lg"></i></a></li>
        <% if(isCodesAllowed) { %>
        <li onclick="openCodeModal()"><a class="tooltipped" data-position="left" data-tooltip="Código QR"><i class="fas fa-qrcode fa-lg"></i></a></li>
        <% } %>
        <li class="bottom-option" onclick="openSendToLabModal()">
            <a class="tooltipped" data-position="left" data-tooltip="Pedidos al Laboratorio">
            <i class="fas fa-cloud-upload-alt fa-lg"></i>
            <span class="upload-badge hide"><small></small></span>
        </a>
        </li>
    </ul>
</header>
<main>
    <div class="row">
        <div class="col m10 offset-m1">
            <h4 class="title">Ajustá y Guardá</h4>
            <div class="progress grey lighten-4" style="display: none">
                <div class="indeterminate pink accent-3"></div>
            </div>
            <div class="fb-container">
                <%- include(`preview/${pageType}.html`) %>
            </div>
            <div id="printButton" class="fixed-action-btn">
                <a class="btn-floating btn-large pink accent-3 waves-effect waves-light">
                    <i class="large material-icons" onclick="printImage()">get_app</i>
                </a>
                <ul>
                    <li><a class="btn-floating deep-purple darken-3 tooltipped" data-position="left" data-tooltip="Enviar al Laboratorio" onclick="printImage('lab')"><i class="material-icons">store</i></a></li>
                    <li><a class="btn-floating deep-purple darken-3 tooltipped" data-position="left" data-tooltip="JPG" onclick="printImage('JPEG')"><i class="material-icons">photo</i></a></li>
                    <li><a class="btn-floating deep-purple darken-3 tooltipped" data-position="left" data-tooltip="PNG" onclick="printPng('PNG')"><i class="material-icons">gradient</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <% if(pageType != 'strip' ) { %>
        <iframe id="printerIframe" src="<%= pageType %><%= (selectedYear != null && selectedMonth != null) ? `?year=${selectedYear}&month=${selectedMonth}` : '' %>" frameborder="0"></iframe>
    <% } else { %>
        <iframe id="printerIframe" src="<%= pageType %><%= (pagesAmount != null && stripsAmount != null) ? `?pagesAmount=${pagesAmount}&stripsAmount=${stripsAmount}` : '' %>" frameborder="0"></iframe>
    <% } %>
</main>

<!-- Background Selector -->
<div id="background-selector" class="modal modal-fixed-footer" style="width: 60%; height:100%; max-height: 80%;">
    <div class="modal-content">
        <h4>Seleccioná el diseño de fondo</h4>
        <div class="row">
            <% backgroundStyles.forEach(function(style){ %>
            <div class="col m2">
                <% if (style.filename) { %>
                <div class="design" data-filename="<%= style.filename %>">
                    <div class="preview" style="background-image: url('backgroundStyles/<%= style.filename %>');"></div>
                    <span><%= style.name %></span>
                </div>
                <% } else { %>
                <div class="design">
                <div class="preview" style="background-image: url('img/empty.jpg')"></div>
                    <span><%= style.name %></span>
                </div>
                <% } %>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">cerrar</a>
    </div>
</div>

<!-- Calendar mods -->
<div class="hide">
    <div id="calendar-mods-panel">
        <p class="no-margin-top">Opciones de Calendario</p>
        <p class="color-field">
            <label>Color de mes y año</label>
            <input type="text" data-css-element-property="color|calendar-monthAndYear|calendar">
        </p>
        <p class="color-field">
            <label>Color de separador</label>
            <input type="text" data-css-element-property="background-color|calendar-separator|calendar">
        </p>
        <p class="color-field">
            <label>Color de encabezados</label>
            <input type="text" data-css-element-property="color|calendar-day|calendar">
        </p>
        <p class="color-field">
            <label>Color de fechas</label>
            <input type="text" data-css-element-property="color|calendar-date|calendar">
        </p>
        <p class="color-field">
            <label>Color de fondo</label>
            <input type="text" data-css-element-property="background-color|polly-calendar|calendar">
        </p>
        <p class="center-align">
            <label>
                <input type="checkbox" class="filled-in apply-all-calendars" />
                <span>Aplicar a todos</span>
            </label>
        </p>
        <p class="center-align">
            <a class="waves-effect waves-light btn-small pink accent-3 jbox-close save-calendar-changes">Aplicar</a>
            <a class="waves-effect waves-light btn-small btn-flat white-text clear-button jbox-close" onclick="restoreCalendarsProperties(true)">Descartar</a>
        </p>
    </div>
</div>

<!-- Text mods -->
<div class="hide">
    <div id="text-mods-panel">
        <p class="no-margin-top">Opciones de Texto</p>
        <div class="textfield-field input-field row">
            <textarea id="html-content" class="materialize-textarea no-margin" data-css-element-property="html-content|text|text" placeholder="Love"></textarea>
            <label for="html-content">Texto</label>
            <p class="no-margin code-tips" style="display: none;"><small class="codeEditorTip">Para propiedades númericas usar calc([valor] * var(--property-multiplier))</small></p>
            <p class="right-align no-margin text-primary"><small class="btn-toggle-editor" style="cursor: pointer;">Usar editor de código</small></p>
        </div>
        <p class="color-field">
            <label>Color de fuente</label>
            <input type="text" data-css-element-property="color|text|text">
        </p>
        <div class="number-field row">
            <div class="label-column col s6">
                <label>Tamaño de fuente</label>
            </div>
            <div class="input-column col s6">
                <input type="number" data-css-element-property="font-size|text|text" class="right" min="0">
            </div>
        </div>
        <div class="number-field row">
            <div class="label-column col s6">
                <label>Espaciamiento superior</label>
            </div>
            <div class="input-column col s6">
                <input type="number" data-css-element-property="padding-top|text-container|text" class="right" min="0">
            </div>
        </div>
        <div class="number-field row">
            <div class="label-column col s6">
                <label>Interlineado</label>
            </div>
            <div class="input-column col s6">
                <input type="number" data-css-element-property="line-height|text|text" class="right" min="0">
            </div>
        </div>
        <div class="select-field font-selector row">
            <div class="label-column col s6">
                <label>Tipografía</label>
            </div>
            <select class="input-column col s6" data-css-element-property="font-family|text|text">
                <option value="de-valencia">1. De Valencia</option>
                <!-- <option value="dry-brush">1. Dry Brush</option> -->
                <option value="geektastic">2. Geektastic</option>
                <option value="jadyn-maria">3. Jadyn Maria</option>
                <option value="good-vibes">4. Good Vibes</option>
                <option value="blaimim">5. Blaimim</option>
                <!-- <option value="love-and-romance">5. Love and Romance</option> -->
                <option value="coves">6. Coves</option>
                <!-- <option value="natasa">6. Natasa</option> -->
                <option value="jalliestha">7. Jalliestha</option>
                <!-- <option value="notera">7. Notera</option> -->
                <option value="prestige">8. Prestige</option>
                <option value="remachine-script">9. Remachine-script</option>
                <option value="sacramento">10. Sacramento</option>
                <!-- <option value="shutter-stone">10. Shutter-stone</option> -->
            </select>
        </div>
        <div class="select-field row">
            <div class="label-column col s6">
                <label>Alineación</label>
            </div>
            <select class="input-column col s6" data-css-element-property="text-align|text-container|text">
                <option value="left">Izquierda</option>
                <option value="center">Centro</option>
                <option value="right">Derecha</option>
            </select>
        </div>
        <p class="color-field">
            <label>Color de fondo</label>
            <input type="text" data-css-element-property="background-color|text|text">
        </p>
        <div class="number-field row">
            <div class="label-column col s6">
                <label>Tamaño de fondo</label>
            </div>
            <div class="input-column col s6">
                <input type="number" data-css-element-property="padding|text|text" class="right" min="0">
            </div>
        </div>
        <div class="number-field row">
            <div class="label-column col s6">
                <label>Redondeo de bordes</label>
            </div>
            <div class="input-column col s6">
                <input type="number" data-css-element-property="border-radius|text|text" class="right" min="0">
            </div>
        </div>
        <p class="center-align">
            <label>
                <input type="checkbox" class="filled-in apply-all-texts" />
                <span>Aplicar a todos</span>
            </label>
        </p>
        <p class="center-align">
            <a class="waves-effect waves-light btn-small pink accent-3 jbox-close save-calendar-changes">Aplicar</a>
            <a class="waves-effect waves-light btn-small btn-flat white-text clear-button jbox-close"
                onclick="restoreTextProperties(true)">Descartar</a>
        </p>
    </div>
</div>

<script>
    var pageType = "<%= pageType %>";
</script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="/lib/mustache.js/mustache.min.js"></script>
<script src="lib/materialize/js/materialize.min.js"></script>
<script src="lib/pace/pace.min.js"></script>
<script src="lib/jBox/jBox.all.min.js"></script>
<script src="lib/spectrum/spectrum.js"></script>
<script src="lib/spectrum/i18n/jquery.spectrum-es.js"></script>
<script src="lib/codemirror/lib/codemirror.js"></script>
<script src="lib/codemirror/mode/xml/xml.js"></script>
<script src="lib/codemirror/mode/javascript/javascript.js"></script>
<script src="lib/codemirror/mode/css/css.js"></script>
<script src="lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="lib/zoomerang/zoomerang.js"></script>
<script src="js/base.js"></script>
<script src="lib/contextual.js/contextual.js"></script>
<script src="js/versionChecker.js"></script>
<script src="js/preview.js"></script>
<script src="js/elements/text.js"></script>
<% if(pageType == 'calendar') { %><script src="js/elements/calendar.js"></script><% } %>

<% include components/code-modal/code-modal.html %>
<% include components/send-to-lab-modal/send-to-lab-modal.html %>
<% include components/mail-modal/mail-modal.html %>

</html>