@import "fonts/fonts.css"; 
:root {
    --property-multiplier: 1;
}
* {
    font-family: 'Roboto Condensed', sans-serif;
}
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
.sidenav li.logo {
    padding-top: 10px;
    text-align: center;
}
.sidenav li.logo img {
    width: 75%;
}

#printerIframe {
    height: 1px;
    width: 1px;
    visibility: hidden;
}
.fb-container {
    width: 100%;
    overflow: auto;
}

.year-selector a {
    text-align: center;
}

.photo .image {
    cursor: pointer;
}
.photo .image .image-button {
    position: absolute;
    text-align: center;
    color: rgba(255,255,255,.85);
    text-shadow: 0px 1px 3px rgba(0,0,0,.50);
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}
.photo .image .image-button i {
    transition: color 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
.photo .image .image-button i:hover {
    color: rgba(255,255,255,.95);
}
.photo .confirm-buttons { 
    text-align: center;
}
.photo.invert-controls .confirm-buttons button { 
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.fullscreen-container {
    height: 100vh;
    width: 100%;
    padding: 25px;
}
.file-list-container{
    display: none;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
.file-uploader {
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
.file-uploader .progress{
    display: none;
}
.file-uploader .collection:empty {
    display: none;
}
.empty-files-alert {
    text-align: center;
    position: fixed;
    width: 50%;
    top: 40%;
    left: 38%;
}
.btn-floating.disabled {
    background-color: #bdbdbd !important;
}

/* Helpers */
.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0;
}

/* Design selection */
.design {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.design .preview {
    padding-top: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.paper {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.version-label {
    bottom: 20px;
    position: fixed;
    left: 100px;
    z-index: 9999;
    color: #dedede;
}

.version-info {
    bottom: 0px;
    position: fixed;
    left: 0px;
    width: 300px;
    z-index: 9999;
    color: #dedede;
    padding-left: 10px;
    padding-right: 10px;
}

/* Text defaults */
.photo .text-container {
    text-align: center;
}
.photo .text-container .text {
    font-family: "dry-brush";
    font-size: calc(30px * 0.5);
    line-height: 1.3;
    display: inline-block;
}

/* edition tooltip */
.color-field .sp-replacer {
    float: right;
}
.color-field label {
    padding-right: 10px;
}
.number-field {
    margin-bottom: 0px;
}
.number-field .label-column {
    padding-left: 0px;
}
.number-field .input-column {
    padding-right: 0px;
}
.number-field .label-column label {
    margin-top: 10px;
    display: block;
}
.number-field .input-column input {
    width: 50% !important;
    height: 2rem !important;
}
.select-field {
    margin-bottom: 0px;
}
.select-field .label-column {
    padding-left: 0px;
}
.select-field .label-column label {
    margin-top: 10px;
    display: block;
}
.select-field input {
    width: 50% !important;
    height: 2rem !important;
    float: right;
}
.select-field .select-wrapper .caret {
    top: 35px;
    fill: #9e9e9e;
}
.font-selector .select-wrapper ul {
    max-height: 20vh;
}

.CodeMirror {
    height: auto;
    margin-top: 5px;
}
.CodeMirror * {
    font-family: monospace;
    font-size: 13px !important;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}