.sidenav {
    background-color: #252526;
}
.sidenav li>a {
    color: #dedede;
}
.sidenav li>a:hover {
    background-color: rgba(255,255,255,0.05);
}
.sidenav li.active {
    background-color: #d81b60;
}
main, body {
    background-color: #202020;
}
.title {
    color: #dedede;
}
.file-uploader.dragging {
    border: 2px dashed rgba(255,255,255,.75);
    background-color: #232323;
}
.file-uploader .collection {
    border-color: #202020;
}
.file-uploader .collection>.collection-item {
    background-color: #252526;
    border-color: #202020;
}
.file-uploader .collection>.collection-item .title {
    color: #dedede;
}
.file-uploader .collection>.collection-item .details {
    color: #b1b1b1;
}
.file-uploader .collection>.collection-item .secondary-content {
    color: #404040;
}
.file-uploader .collection>.collection-item .secondary-content:hover {
    color: #b1b1b1;
}
.empty-files-alert .message {
    color: rgba(255,255,255,.50);
}
.clear-button{
    color: #dedede;
}
.clear-button:hover{
    background-color: rgba(255, 255, 255, 0.25);
}
.card {
    background-color: #252526;
    text-align: center;
    border-radius: 8px;
}
.card:hover{
    background-color: #282829;
}
.card .card-title {
    color: #dedede;
}
.year-selector a.collection-item {
    color: #d81b60;
}