.sidenav {
    background-color: #252526;
}
.sidenav li>a {
    color: #dedede;
}
.sidenav li>a:hover {
    background-color: rgba(255,255,255,0.05);
}
.sidenav li.active {
    background-color: #d81b60;
}
main, body {
    background-color: #202020;
}
.title {
    color: #dedede;
}
.file-uploader.dragging {
    border: 2px dashed rgba(255,255,255,.75);
    background-color: #232323;
}
.file-uploader .collection {
    border-color: #202020;
}
.file-uploader .collection>.collection-item {
    background-color: #252526;
    border-color: #202020;
}
.file-uploader .collection>.collection-item .title {
    color: #dedede;
}
.file-uploader .collection>.collection-item .details {
    color: #b1b1b1;
}
.file-uploader .collection>.collection-item .secondary-content {
    color: #404040;
}
.file-uploader .collection>.collection-item .secondary-content:hover {
    color: #b1b1b1;
}
.empty-files-alert .message {
    color: rgba(255,255,255,.50);
}
.clear-button{
    color: #dedede;
}
.clear-button:hover{
    background-color: rgba(255, 255, 255, 0.25);
}
.card {
    background-color: #252526;
    text-align: center;
    border-radius: 8px;
}
.card:hover{
    background-color: #282829;
}
.card .card-title {
    color: #dedede;
}
.year-selector a.collection-item {
    color: #d81b60;
}

/* jBox theme */
.jBox-container {
  border-radius: 4px;
  background: #1a1a1af3;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.jBox-pointer:after {
  background: #1a1a1af3;
}
.jBox-closeButton {
  background: #1a1a1af3;
}
.jBox-closeButton-box:before {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.jBox-closeButton-box .jBox-closeButton path {
  fill: #ddd;
}
.jBox-closeButton-box .jBox-closeButton:hover path {
  fill: #fff;
}
.jBox-closeButton-box .jBox-closeButton:active path {
  fill: #bbb;
}

/* buttons */
.btn.btn-primary {
    background-color: #d81b60;
}

.btn.btn-primary:hover {
    background-color: #d81b60;
}
.clear-button:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.sp-dark .sp-input {
    color: white;
}

/* Checkbox */
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    background-color: #d81b60;
    border: 2px solid #d81b60;
}