/* Page 20cm x 30cm */
.page {
    height: calc(1134px * var(--print-multiplier));
    width: calc(755px * var(--print-multiplier));
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 300px;
}
.fb-row {
    margin-left: calc(10px * var(--print-multiplier));
    margin-top: calc(8px * var(--print-multiplier));
}
.photo {
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    height: calc(10.3cm * var(--print-multiplier));
    width: calc(9cm * var(--print-multiplier));
    padding-left: calc(0.5cm * var(--print-multiplier));
    padding-right: calc(0.5cm * var(--print-multiplier));
    padding-top: calc(0.5cm * var(--print-multiplier));
}
.fb-row .photo.vertical:nth-child(odd) {
    margin-right: calc(1.5cm * var(--print-multiplier));
    padding-right: calc(0.4cm * var(--print-multiplier));
}
.photo.horizontal {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    bottom: calc(0.65cm * var(--print-multiplier));
    left: calc(0.63cm * var(--print-multiplier));
}

.image {
    height: calc(8cm * var(--print-multiplier));
    width: calc(8cm * var(--print-multiplier));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* logo style */
.logo-container {
    float: right;
    margin-right: calc(8px * var(--print-multiplier));
    width: calc(9cm * var(--print-multiplier));
}
.logo-container .print-logo {
    border: 1px solid black;
    box-sizing: border-box;
    height: calc(3cm * var(--print-multiplier));
    width: calc(5cm * var(--print-multiplier));
    padding-top: calc(5px * var(--print-multiplier));
    padding-bottom: calc(5px * var(--print-multiplier));
    padding-right: calc(1px * var(--print-multiplier));
    padding-left: calc(1px * var(--print-multiplier));
}
.logo-container .print-logo.print-logo-white {
    background-color: black;
}
.print-logo .logo {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.print-logo.print-logo-white .logo {
    background-image: url("/img/logo-white.png");
}
.print-logo.print-logo-black .logo {
    background-image: url("/img/logo-black.png");
}
.print-logo.print-logo-bw .logo {
    background-image: url("/img/logo-bw.png");
}